body {
  background-color: hsl(212, 45%, 89%);
}

.img-qr img {
  border-radius: 8px;
  width: fit-content;
  height: calc(100vh - 100%);
}

.qr-content {
  border-radius: 8px;
  width: fit-content;
  height: 100%;
  margin: auto;
  padding: 30px;
  line-height: 20px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
}

.qr-content h1 { 
  font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    line-height: 20px;
    padding: 20px;
    color: hsl(218, 44%, 22%);
}

.qr-content p {
  font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
    color: hsl(220, 15%, 55%);
}